@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@800&display=swap');



html {
    font-family: 'Mulish', sans-serif;
    font-size: 62.5%;
}


body {
    font-size: 14px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    line-height: 1.42857143;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
ul  {
    list-style-type: none;
    margin: 0;
}
img {
    width: 100%;
    vertical-align: middle;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

