





$bc-white: #fff;
$bc-gray: #f7f7f7;
$color: #333;
$text-color: #777;


$default: #2196f3;
$skin1: #ffd504;
$skin2: #673AB7;
$skin3: #ff5722;
$skin4: #795548;
$skin5: #209e17;
$skin6: #162bbf;
$skin7: #9c27b0;
